<a href="https://colab.research.google.com/github/dasipsita/Find-best-movie-and-most-viewed-movie/blob/main/Find_best_movie_and_most_viewed_movie.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

A movie database contains user review rating of  10,000+ movies released before Year 2000
Using Python Scripts or SQL Queries, find


1) Movie watched by most number people (irrespective of the ratings given by user)


2) Top 5 Best movies (Based on more number of people watched and given higher rating)

###Install Packages

In [ ]:
!pip install db-sqlite3

###Create a table

In [ ]:
import sqlite3
con = sqlite3.connect("MovieReviews.db")
cur = con.cursor()
cur.execute("CREATE TABLE Movie(MovieId varchar, ReleaseDate varchar, UserID varchar, Rating int)")

###Insert data

In [ ]:
cur.execute(""" 
INSERT INTO Movie VALUES
    ('Movie1', 'March 1993', 'User1', 6),
    ('Movie1', 'March 1993', 'User3', 2),
    ('Movie1', 'March 1993', 'User2', 8),
    ('Movie1', 'March 1993', 'User5', 1),
    ('Movie1', 'March 1993', 'User4', 3),
    ('Movie1', 'March 1993', 'User6', 6),
    ('Movie2', 'March 1987', 'User5', 6),
    ('Movie2', 'March 1987', 'User4', 3),
    ('Movie2', 'March 1987', 'User2', 6),
    ('Movie3', 'March 1987', 'User5', 6),
    ('Movie3', 'March 1987', 'User1', 6),
    ('Movie4', 'March 1996', 'User3', 9),
    ('Movie4', 'March 1996', 'User1', 5),
    ('Movie5', 'March 1995', 'User1', 6),
    ('Movie5', 'March 1995', 'User4', 6),
    ('Movie5', 'March 1995', 'User3', 2),
    ('Movie5', 'March 1995', 'User2', 8),
    ('Movie5', 'March 1995', 'User5', 1),
    ('Movie5', 'March 1995', 'User6', 3),
    ('Movie6', 'March 1996', 'User2', 6),
    ('Movie6', 'March 1996', 'User5', 6),
    ('Movie6', 'March 1996', 'User3', 9),
    ('Movie7', 'March 1996', 'User1', 5),
    ('Movie8', 'March 1990', 'User3', 4)  """)

con.commit()

###Check the table

In [ ]:
details = cur.execute("SELECT * FROM Movie")
details.fetchall()

[('Movie1', 'March 1993', 'User1', 6),
 ('Movie1', 'March 1993', 'User3', 2),
 ('Movie1', 'March 1993', 'User2', 8),
 ('Movie1', 'March 1993', 'User5', 1),
 ('Movie1', 'March 1993', 'User4', 3),
 ('Movie1', 'March 1993', 'User6', 6),
 ('Movie2', 'March 1987', 'User5', 6),
 ('Movie2', 'March 1987', 'User4', 3),
 ('Movie2', 'March 1987', 'User2', 6),
 ('Movie3', 'March 1987', 'User5', 6),
 ('Movie3', 'March 1987', 'User1', 6),
 ('Movie4', 'March 1996', 'User3', 9),
 ('Movie4', 'March 1996', 'User1', 5),
 ('Movie5', 'March 1995', 'User1', 6),
 ('Movie5', 'March 1995', 'User4', 6),
 ('Movie5', 'March 1995', 'User3', 2),
 ('Movie5', 'March 1995', 'User2', 8),
 ('Movie5', 'March 1995', 'User5', 1),
 ('Movie5', 'March 1995', 'User6', 3),
 ('Movie6', 'March 1996', 'User2', 6),
 ('Movie6', 'March 1996', 'User5', 6),
 ('Movie6', 'March 1996', 'User3', 9),
 ('Movie7', 'March 1996', 'User1', 5),
 ('Movie8', 'March 1990', 'User3', 4)]

###Get the list of the movies

In [ ]:
movieList = []
for movie in cur.execute("SELECT MovieId FROM Movie"):
  if movie not in movieList:
    movieList.append(movie)

###Find most viewed movie

In [ ]:
best_movie = ''
max_views = 0

for movie in movieList:
  numofviewer = cur.execute("SELECT UserId FROM Movie WHERE MovieId=?", (movie))
  count = len(numofviewer.fetchall())
  if count >= max_views:
    best_movie = movie[0]
    max_views = count  

print (best_movie, ":", max_views)

Movie5 : 6

###Find top 5 best movies

In [ ]:
score = 0
movie_with_score = {}

for movie in movieList:
  sum = 0
  num_of_viewer = cur.execute("SELECT Rating FROM Movie WHERE MovieId=?", (movie))
  result = (num_of_viewer.fetchall())
  for i in result:
    sum += i[0]
  score = sum/len(result)
  movie_with_score.update({movie[0]:round(score, 1)})

top_5_movies = (sorted(movie_with_score.items(), key=lambda x: x[1], reverse=True))[0:5]
print (top_5_movies)

[('Movie4', 7.0), ('Movie6', 7.0), ('Movie3', 6.0), ('Movie2', 5.0), ('Movie7', 5.0)]